* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.ant-layout{
  min-height: calc(100vh - 126px) !important;
}

a {
  color: inherit;
  text-decoration: none;
}


.ant-layout-header, .ant-menu-dark{
  background: #111 !important;
  padding: 0 !important;
}



.ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected{
  background: #e4e1d6 !important;
  color: #111 !important;
}


.black-button{
  background: #111 !important;
  color: #fff !important;
  border: 1px solid #111 !important;
  box-shadow: none !important;
}

.ant-tabs-nav{
  margin: 0 !important;
}


.ant-tabs-nav-wrap{
  background: #2b2b2b;
}

.ant-tabs .ant-tabs-tab {
  color: #e9e9e9 !important; 
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important;
  padding: 0 1rem;

  .anticon{
    margin: 0 !important;
    margin-right: 8px !important;
  }
}
.ant-tabs-nav-wrap{
  padding: 0 1rem;
}

/* make border color on ant tabs whte */
.ant-tabs-ink-bar {
  height: 2px;
  background: white !important;
}

.ant-pagination-item, .ant-pagination-item-link{
  background-color: #fff !important;
}
.ant-pagination-item-ellipsis{
  color: #fff !important;
}

.ant-form-item-required, .ant-radio-wrapper-in-form-item{
  color: #fff !important;
}